---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" or site.site_theme == "synthwave" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    <div class="synth-scene" aria-hidden="true">
      <div class="synth-aurora"></div>
      <div class="synth-city synth-city--far"></div>
      <div class="synth-city synth-city--near"></div>
      <div class="synth-ocean"></div>

      <svg class="synth-palm synth-palm--left" viewBox="0 0 140 260" xmlns="http://www.w3.org/2000/svg" focusable="false">
        <g fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="bevel">
          <path class="palm-trunk" d="M57 260C65 218 62 172 73 91"/>
          <path d="M73 91C49 63 22 58 4 69M73 91C51 49 38 27 18 17M73 91C70 49 76 23 91 4M73 91C94 54 116 43 137 46M73 91C104 75 124 76 139 89M73 91C47 82 23 86 8 104"/>
        </g>
      </svg>

      <svg class="synth-palm synth-palm--right" viewBox="0 0 140 260" xmlns="http://www.w3.org/2000/svg" focusable="false">
        <g fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="bevel">
          <path class="palm-trunk" d="M57 260C65 218 62 172 73 91"/>
          <path d="M73 91C49 63 22 58 4 69M73 91C51 49 38 27 18 17M73 91C70 49 76 23 91 4M73 91C94 54 116 43 137 46M73 91C104 75 124 76 139 89M73 91C47 82 23 86 8 104"/>
        </g>
      </svg>

    </div>

    <svg class="synth-car" viewBox="0 0 360 170" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <g class="car-trails" fill="none" stroke-linecap="square">
        <path d="M62 94H7"/>
        <path d="M60 108H18"/>
        <path d="M65 121H32"/>
      </g>
      <g fill="none" stroke-linecap="square" stroke-linejoin="bevel">
        <path class="car-underglow" d="M82 139H306"/>
        <path class="car-body" d="M54 119L65 95L82 82L133 72L170 48L245 53L286 82L329 95L340 115L326 129L298 136H88L61 128Z"/>
        <path class="car-wing" d="M166 71L132 15L207 38L228 73Z"/>
        <path class="car-glass" d="M174 52L208 42L243 55L271 79H222L207 58L178 73Z"/>
        <path class="car-detail" d="M75 96H128L146 79H212M236 83H285M154 91H222M169 102H194M200 102H225M94 118H308"/>
        <path class="car-circuit" d="M231 91H246V101H262V111H285M136 91H122V103H105"/>
        <path class="car-light car-light--front" d="M313 94H330L338 105H316Z"/>
        <path class="car-light car-light--rear" d="M62 94H82V106H57Z"/>
        <path class="car-thruster" d="M54 105L39 98V123L61 119M45 103V119"/>
        <ellipse class="car-wheel" cx="112" cy="133" rx="27" ry="13"/>
        <ellipse class="car-wheel" cx="282" cy="133" rx="27" ry="13"/>
        <ellipse class="car-hub" cx="112" cy="133" rx="11" ry="5"/>
        <ellipse class="car-hub" cx="282" cy="133" rx="11" ry="5"/>
        <g class="car-flux">
          <path d="M174 91L188 116L202 91Z"/>
          <circle cx="188" cy="102" r="4"/>
        </g>
      </g>
    </svg>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% include footer/custom.html %}

    {% include scripts.html %}

  </body>
</html>
